@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply flex flex-col min-h-screen text-white;
  background-image: url('/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  @apply mx-auto max-w-[90%];
}

/* Scrollbar minimalista y elegante solo para dashboard */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 8px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(80, 80, 80, 0.7);
}
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}