@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply flex flex-col min-h-screen text-white;
  background-image: url('/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  @apply mx-auto max-w-[90%];
}
